body {
  font-family: system-ui;
  background: #0a1f44;
  color: white;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

th,
td {
  border: 1px solid #1b3f8b;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #081735;
}

tr:nth-child(even) {
  background-color: #132c63;
}

tr:hover {
  background-color: #1b3f8b;
}

@media (max-width: 600px) {
  table {
    width: 95%;
    font-size: 14px;
  }
}
